html,
body {
    margin: 0;
    padding: 0;
}

.body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(58, 177, 180);
    background: linear-gradient(90deg, rgba(58, 177, 180, 1) 0%, rgba(29, 195, 253, 1) 49%, rgba(69, 91, 252, 1) 100%);
}

.calulator-body
{
    height: 530px;
    width: 300px;
    border: 3px solid #212121;
    border-radius: 25px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen
{
    width: 90%;
    height: 6rem;
    background-color: #3B3B3B;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
}

.screen-top
{
    width: 100%;
    height: 40%;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    padding-bottom: 0px;
    color: #3E7570;
}

.screen-bottom
{
    width: 100%;
    height: 60%;
    font-size: 30px;
    text-align: right;
    margin: 0px;
    color: #3E7570;
}

.row
{
    width:90%;
    height:4rem;
    border-radius: 25px;
    margin: 2.5%;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
}

.fifth
{
    margin-bottom: 4%;
}

.btn
{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border-style: solid;
    border: 0%;
    background-color: #616161;
    font-size: 20px;
    color: white;
    transition: transform 0.3s ease;
    border:0px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

#equals
{
    width: 8rem;
    border-radius: 60px;
}

.btn:hover
{
    background-color: #BDBDBD;
    color: black;
    transform: translateY(-4px);
}

.clear:hover
{
    background-color: #F08080;
    color: black;
    transform: translateY(-4px);
}

.operand:hover
{
    background-color: #48D1CC;
    color: black;
    transform: translateY(-4px);
}

.equals:hover
{
    background-color: #32CD32;
    color: black;
    transform: translateY(-4px);
}

.btn:active
{
    transform: translateY(4px);
}

